@import "tailwindcss";

:root {
  --background: #ffffff;
  /* content on top of background: text, icons, boarder */
  --foreground: #000000; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 { 
  margin-top: 1rem;
  margin-bottom: 1rem; 
  color: #f7cee0;
}

.centered-container { 
  max-width: 1600px;      /* limit content width */
  margin: 0 auto;         /* center horizontally */
  padding: 0 50px;        /* left + right padding */
}