@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 { 
  margin-top: 1rem;
  margin-bottom: 1rem; 
  color: #f7cee0;
}

.centered-container { 
  max-width: 1600px;     
  margin: 0 auto;         
  padding: 0 50px;        
}